
body {
    background: #fff;
    color: #202124;
    font-family: Arial, sans-serif;
    display: block;
    text-align: center;
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: small;
        
    }
}

#links {
    text-decoration: none;
    margin-bottom: 150px;
    text-align: right;
}

a{
    text-decoration: none;
    color: #000000de;
}

a:hover {
    text-decoration: underline;
}

img {
    width: auto;
    height: 90px;
    margin: 10px 0;
}

#sbox {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 550px;
    height: 25px;
    padding: 7px 35px;
    outline: 0;
    border-color: rgb(199, 191, 191); 
}

$this : 0 0 3px #ccc;

#sbox:hover {
    box-shadow: $this;
}

/*#x {
    position: relative;
    top: 40px;
    right: 265px;
}

#y {
    position: relative;
    bottom: 40px;
    left: 265px;
}

.icon {
    margin: 0;
    padding: 0;
    height: auto;
    width: 30px;
}*/

.icon {
    position: relative;
    margin: 0;
    padding: 0;
    width: 30px;
    height: auto;
}

#x {
    top: 10px;
    left: 40px;
}

#y {
    bottom: -8px;
    right: 40px;
}

#btn-container {
    margin-top: 10px;
}

.btn {
    background: #f8f9fa;
    border: 0 solid   #ccc;
    padding: 10px 20px;
    //border-color: rgb(199, 191, 191);
    border-radius: 4px;
    outline: 0;
}

#gs {
    margin-right: 5px;
}
#ifl {
    margin-left: 5px;
} 

.btn:hover {
    //box-shadow: 1px 1px 1px rgba(0, 0, 0, 10%);
    box-shadow: $this;
    //color: #202124;
    //background-color: #f8f9fa;
    //border: 1px solid #dadce0;
    cursor: pointer;
}

.langs {
    margin-top: 25px;
    a {
        color: blue;
    }
    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}








